@import url('./quiz/Quiz.scss');
@import url('./auth/Auth.scss');

$main_color : #edf2f9;

@font-face{
    font-family: 'TestFont';
    src: url("../fonts/NanumSquareRoundOTFEB.otf") format('opentype');
}

@font-face{
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf") format('opentype');
}

@font-face{
    font-family: "Monoton";
    src: url("../fonts/Monoton-Regular.ttf") format('opentype');
}

@font-face{
    font-family: "Helvetica";
    src: url("../fonts/Helvetica/Helvetica Bold.ttf") format('truetype');
}

* {
    font-family: "TestFont" !important;
}

body {
    background-color: $main_color !important;
    &::-webkit-scrollbar {
        display:none;
    }
}

.nav_bar {
    color: white !important;
    a {
        color: white !important;
    }
}

.nav__height {
    height: 2rem !important;
    width: 2rem !important;
}