.profile__img {
    border-radius: 20px !important;
    margin-bottom: 1rem;
}

.profile__username{
    color: var(--gray-dark);
}

.profile__class__hr{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid #f0f0f1 !important;
}