
.authform_container{
    background-color: #fff !important;
    border: 0 solid #edf2f9 !important;
    padding: 60px 60px 45px 60px !important;
    border-radius: 10px !important;
    box-shadow: 0 7px 14px 0 rgba(65,69,88,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}

.authform_group{
    margin-bottom: 20px !important;
}

#authForm .invalid-feedback {
    display: block!important;
}